<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>E-commerce</title>
    <style th:insert="~{base :: styles}"></style>
</head>
<body>
<!--@@@ Contact section-->
<section th:insert="~{base :: contact}"></section>
<!--@@@ Contact section close-->

<!--@@@ Navbar section-->
<section th:insert="~{base :: navbar}"></section>
<!--@@@ Navbar section close-->

<div class="container">
    <h2 align="center">Checkout</h2>

    <div class="card">
        <div class="card-body">
            <p class="card-title"><strong><span style="font-size: 25px;" th:text="${user.first_name +' '+ user.last_name}"></span></strong> <span th:text="${user.phone_number}"></span></p>
            <p><span th:text="${user.address}"></span></p>
            <p>City : <span th:text="${user.city}"></span> - <span th:text="${user.zip}"></span></p>
            <p><span th:text="${user.country}"></span></p>
        </div>
    </div>

    <h4 align="center">Order Summary</h4>
    <ul class="list-group">
        <li class="list-group-item cart-item" th:each="cartItem : ${cartItems}">
            <a th:href="@{/view_products/{productId}(productId=${cartItem.product.id})}">
                <div class="cart-item-details d-flex justify-content-between align-items-center">
                    <!-- Product Image and Details -->
                    <div class="d-flex align-items-center">
                        <img th:src="'data:image/jpeg;base64,' + ${cartItem.product.product_image}"
                             class="cart-product-img"
                             alt="Product Image"
                        height="100" width="100">
                        <div class="cart-product-info" style="margin-left: 20px;">
                            <h5 class="cart-product-title" th:text="${cartItem.product.title}"></h5>
                            <p class="cart-product-description" th:text="${cartItem.product.short_description}"></p>
                            <span>Quantity: <strong th:text="${cartItem.quantity}"></strong></span><br>
                            <!-- Add 'item-price' class here -->
                            <span>Price : <strong style="color: #4CAF50" class="item-price"
                                                  th:text="${(cartItem.quantity * cartItem.product.price)}"></strong></span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
    </ul>

    <div class="mt-3">
        <form action="/orders/placeOrder" method="post">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
            <button type="submit" class="btn btn-primary">Place Order</button>
        </form>
    </div>
</div>
</body>
</html>
