<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>E-commerce</title>
  <style th:insert="~{base :: styles}"></style>
</head>
<body>
<!--@@@ Contact section-->
<section th:insert="~{base :: contact}"></section>
<!--@@@ Contact section close-->

<!--@@@ Navbar section-->
<section th:insert="~{base :: navbar}"></section>
<!--@@@ Navbar section close-->

<div>Hello</div>


</body>
</html>